.column1
{
  width: 50%;

  border-color: green;
  border-width: 1%;
  border-style: solid;

  float: left;

}

.column2
{
  width: 50%;

  border-color: red;
  border-width: 1%;
  border-style: solid;


  float:left;

}
